// Import Theme
//@import `../../scss/theme`;

// Component Styles

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.console-legend_container {
    position: absolute;
    top: 48px;
    right: 100px;
    margin: 0;
    padding: 0;
    display: block;
    width: auto;
    height: auto;

    &-inner {
        display: block;

        .console-legend_list {
            position: absolute;
            margin: 0;
            padding: 0;
            display: block;
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    }
}

